@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --sage-color: #706D54;
    --brown-color: #A08963;
    --light-brown-color: #C9B194;
    --grey-color: #DBDBDB;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--brown-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header p {
    font-size: 1.5rem;
    font-weight: 700;
}

header nav{
    display: flex;
    justify-content: center;
    gap: 10px;
}

nav button {
    padding: 10px 20px;
    background-color: var(--sage-color);
    border-radius: 10px;
    color: var(--grey-color);
    border: none;
    cursor: pointer;
    transition: all 0.1s ease;
}

nav button:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.63);
}

h1 {
    margin-left: 20px;
}

#content {
    flex-grow: 1;
    background-color: var(--sage-color);
    padding: 50px;
    color: var(--grey-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content h1 {
    text-align: center;
}

#home {
    display: flex;
    align-items: center;
}

#menu,
.contact-item {
    margin-top: 20px;
    padding: 20px;
    border: solid var(--grey-color);
    border-radius: 20px;
}

#menu {
    width: 30%;
}

.contact-item p {
    margin: 5px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#github-logo {
    height: 30px;
    padding-left: 10px;
}